<div class="container">
    <h1 class="text-center">Những điều cần biết khi học online</h1>
    <br>
    <%= image_tag("Hoc-online.jpg", style:"margin:0 auto") %>
    <br>
    <ul class="text-base text-center">
        <li>1. Vào lớp đúng giờ (Nên vào lớp trước 5 phút)</li>
        <li>2. Trang phục lịch sự gọn gàng</li>
        <li>3. Chỉ bật micro khi giáo viên yêu cầu</li>
        <li>4. Luôn bật video để giáo viên giám sát</li>
        <li>5. Chuẩn bị vở, bút và các dụng cụ học tập đẩy đủ</li>
        <li>6. Ngồi học nơi yên tĩnh đảm bảo học tập</li>
        <li>7. Cần INTERNET ổn định, nên ngồi gần cục phát wifi</li>
        <li>8. Nghe giảng tập trung cao (Thầy sẽ giám sát thông qua camera)</li>
        <li>9. Làm bài tập đầy đủ ở phần mềm AZOTA</li>
        <li>10. Dong tay phát biểu khi yêu cầu, mong muốn</li>
    </ul>
</div>