<div class="container text-center">
    <h1>Liên hệ<h1>
    <br>
    <h4>Mọi thắc mắc về tài khoản vui lòng liên hệ:</h4>
    <h4>Số điện thoại: <a href="tel:0795589558">0795589558</a></h4>
    <h4>Facebook: <a href="https://www.facebook.com/acon.nogthon" target="_blank">Trần Minh Châu</a></h4>
</div>