<section class="skewed-bottom-right" style="padding:0">
  <div class="bg-purple-400 pt-12 lg:pt-20 pb-20 radius-for-skewed">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full lg:w-1/2 px-4 mb-12 md:mb-20 lg:mb-0 flex items-center">
          <div class="w-full text-center lg:text-left">
            <div class="max-w-md mx-auto lg:mx-0">
              <h2 class="mb-3 text-4xl lg:text-5xl text-white font-bold">
                <span>Build &amp; Launch without</span>
                <span class="text-yellow-400">problems</span>
              </h2>
            </div>
            <div class="max-w-sm mx-auto lg:mx-0">
              <p class="mb-6 text-gray-300 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur nisl sodales egestas lobortis.</p>
              <div><a class="inline-block mb-3 lg:mb-0 lg:mr-3 w-full lg:w-auto py-2 px-6 leading-loose bg-white hover:bg-purple-100 text-purple-400 font-semibold rounded-l-xl rounded-t-xl transition duration-200" href="#">Get Started</a><a class="inline-block w-full lg:w-auto py-2 px-6 leading-loose text-white font-semibold bg-purple-400 border-2 border-purple-400 hover:border-purple-500 rounded-l-xl rounded-t-xl transition duration-200" href="#">How it works</a></div>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2 px-4 flex items-center justify-center">
          <div class="relative" style="z-index: 0;">
            <img class="h-128 w-full max-w-lg object-cover rounded-3xl md:rounded-br-none" src="https://images.unsplash.com/photo-1462826303086-329426d1aef5?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mr-for-radius">
    <svg class="h-8 md:h-12 lg:h-20 w-full text-purple-400" viewBox="0 0 10 10" preserveAspectRatio="none">
      <polygon fill="currentColor" points="0 0 10 0 0 10"></polygon>
    </svg>
  </div>
  <div class="hidden navbar-menu relative z-50">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
    <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
      <div class="flex items-center mb-8">
        <button class="navbar-close">
          <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div>
        <ul>
          <li class="mb-1"><a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-purple-50 hover:text-purple-400 rounded" href="#">Start</a></li>
          <li class="mb-1"><a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-purple-50 hover:text-purple-400 rounded" href="#">About Us</a></li>
          <li class="mb-1"><a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-purple-50 hover:text-purple-400 rounded" href="#">Services</a></li>
          <li class="mb-1"><a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-purple-50 hover:text-purple-400 rounded" href="#">Platform</a></li>
          <li class="mb-1"><a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-purple-50 hover:text-purple-400 rounded" href="#">Testimonials</a></li>
        </ul>
      </div>
      <div class="mt-auto">
        <div class="pt-6"><a class="block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold leading-none bg-gray-50 hover:bg-gray-100 rounded-l-xl rounded-t-xl" href="#">Sign In</a><a class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-pink-600 hover:bg-pink-700 rounded-l-xl rounded-t-xl" href="#">Sign Up</a></div>
        <p class="my-4 text-xs text-center text-gray-400">
          <span>© 2020 All rights reserved.</span>
        </p>
      </div>
    </nav>
  </div>
</section>

<section>
  <div class="py-20 bg-purple-400 radius-for-skewed">
    <div class="container mx-auto px-4">
      <div class="mb-6 flex flex-wrap justify-center">
        <div class="mb-16 w-full text-center">
          <span class="text-green-600 font-bold">Dolor sit amet consectutar</span>
          <h2 class="text-4xl lg:text-5xl font-bold font-heading">Our Blog</h2>
        </div>
        <div class="flex flex-wrap -mx-3 mb-16">
          <div class="mb-6 lg:mb-0 w-full lg:w-1/2 px-3">
            <div class="h-full flex flex-col rounded shadow">
              <img class="rounded-t object-cover h-80 lg:h-full w-full" src="https://images.unsplash.com/photo-1559827291-72ee739d0d9a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=968&amp;q=80" alt="">
              <div class="mt-auto p-6 rounded-b bg-white">
                <span class="text-sm text-gray-400">24 Jan, 2021</span>
                <h2 class="my-2 text-2xl font-bold">Morbi scelerisque nulla et lectus dignissim eleifend nulla eu nulla a metus</h2>
                <p class="mb-6 text-gray-400 leading-loose">Quisque id sagittis turpis. Nulla sollicitudin rutrum eros eu dictum. Integer sit amet erat sit amet lectus lacinia mattis. Donec est tortor, fermentum at urna a, accumsan suscipit sem.</p>
                <a class="text-green-600 hover:text-green-700 font-bold" href="#">Learn More</a>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap w-full lg:w-1/2">
            <div class="mb-6 w-full lg:w-1/2 px-3">
              <div class="rounded overflow-hidden shadow">
                <img class="lg:h-48 rounded-t" src="https://images.unsplash.com/photo-1413752362258-7af2a667b590?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1055&amp;q=80" alt="">
                <div class="p-6 rounded-b bg-white">
                  <span class="text-sm text-gray-400">24 Jan, 2021</span>
                  <h2 class="my-2 text-2xl font-bold">Morbi scelerisque nulla et lectus</h2>
                  <a class="text-green-600 hover:text-green-700 font-bold" href="#">Learn More</a>
                </div>
              </div>
            </div>
            <div class="mb-6 w-full lg:w-1/2 px-3">
              <div class="rounded overflow-hidden shadow">
                <img class="lg:h-48 rounded-t" src="https://images.unsplash.com/photo-1459213599465-03ab6a4d5931?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1055&amp;q=80" alt="">
                <div class="p-6 rounded-b bg-white">
                  <span class="text-sm text-gray-400">24 Jan, 2021</span>
                  <h2 class="my-2 text-2xl font-bold">Morbi scelerisque nulla et lectus</h2>
                  <a class="text-green-600 hover:text-green-700 font-bold" href="#">Learn More</a>
                </div>
              </div>
            </div>
            <div class="mb-6 w-full lg:w-1/2 px-3">
              <div class="rounded overflow-hidden shadow">
                <img class="lg:h-48 rounded-t" src="https://images.unsplash.com/photo-1459213599465-03ab6a4d5931?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1055&amp;q=80" alt="">
                <div class="p-6 rounded-b bg-white">
                  <span class="text-sm text-gray-400">24 Jan, 2021</span>
                  <h2 class="my-2 text-2xl font-bold">Morbi scelerisque nulla et lectus</h2>
                  <a class="text-green-600 hover:text-green-700 font-bold" href="#">Learn More</a>
                </div>
              </div>
            </div>
            <div class="mb-6 w-full lg:w-1/2 px-3">
              <div class="rounded overflow-hidden shadow">
                <img class="lg:h-48 rounded-t" src="https://images.unsplash.com/photo-1413752362258-7af2a667b590?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1055&amp;q=80" alt="">
                <div class="p-6 rounded-b bg-white">
                  <span class="text-sm text-gray-400">24 Jan, 2021</span>
                  <h2 class="my-2 text-2xl font-bold">Morbi scelerisque nulla et lectus</h2>
                  <a class="text-green-600 hover:text-green-700 font-bold" href="#">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div><a class="inline-block py-2 px-6 rounded-l-xl rounded-t-xl bg-green-600 hover:bg-green-700 text-gray-50 font-bold leading-loose outline-none transition duration-200" href="#">View More Articles</a></div>
      </div>
    </div>
  </div>
  <div class="skew skew-bottom mr-for-radius">
    <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewBox="0 0 10 10" preserveAspectRatio="none">
      <polygon fill="currentColor" points="0 0 10 0 0 10"></polygon>
    </svg>
  </div>
</section>

<section>
  <div class="py-20 bg-purple-400 radius-for-skewed">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-1/2 mb-12 lg:mb-0">
          <div class="max-w-md">
            <span class="text-yellow-500 font-bold">Dolor sit amet consectutar</span>
            <h2 class="mb-2 text-4xl lg:text-5xl font-bold font-heading text-white">Build &amp; Launch without problems</h2>
            <div class="max-w-xs">
              <p class="text-gray-50 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur nisl sodales egestas lobortis.</p>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2">
          <div class="mb-12 lg:mb-8 flex flex-wrap items-start">
            <span class="mb-4 lg:mb-0 lg:mr-6 inline-flex items-center justify-center w-16 h-16 bg-pink-500 rounded text-white text-2xl font-bold">1</span>
            <div class="w-full lg:w-3/4">
              <h3 class="mb-4 text-2xl font-bold font-heading text-white">Lorem ipsum dolor sit amet consectutar</h3>
              <p class="text-gray-50 leading-loose">Fusce quam tellus, placerat eu metus ut, viverra aliquet purus. Suspendisse potenti. Nulla non nibh feugiat.</p>
            </div>
          </div>
          <div class="mb-12 lg:mb-8 flex flex-wrap items-start">
            <span class="mb-4 lg:mb-0 lg:mr-6 inline-flex items-center justify-center w-16 h-16 bg-pink-500 rounded text-white text-2xl font-bold">2</span>
            <div class="w-full lg:w-3/4">
              <h3 class="mb-4 text-2xl font-bold font-heading text-white">Lorem ipsum dolor sit amet consectutar</h3>
              <p class="text-gray-50 leading-loose">Fusce quam tellus, placerat eu metus ut, viverra aliquet purus. Suspendisse potenti. Nulla non nibh feugiat.</p>
            </div>
          </div>
          <div class="flex flex-wrap items-start">
            <span class="mb-4 lg:mb-0 lg:mr-6 inline-flex items-center justify-center w-16 h-16 md:px-8 bg-pink-500 rounded text-white text-2xl font-bold">3</span>
            <div class="w-full lg:w-3/4">
              <h3 class="mb-4 text-2xl font-bold font-heading text-white">Lorem ipsum dolor sit amet consectutar</h3>
              <p class="text-gray-50 leading-loose">Fusce quam tellus, placerat eu metus ut, viverra aliquet purus. Suspendisse potenti. Nulla non nibh feugiat.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
