<section class="skewed-bottom-right" style="padding:0">
  <div class="bg-purple-400 pt-12 lg:pt-20 pb-20 radius-for-skewed">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full lg:w-1/2 px-4 mb-12 md:mb-20 lg:mb-0 flex items-center">
          <div class="w-full text-center lg:text-left">
            <div class="max-w-md mx-auto lg:mx-0">
              <h2 class="mb-3 text-4xl lg:text-5xl text-white font-bold">
                <span class="text-yellow-100">Trường Tiểu Học</span>
                <span class="text-yellow-400">LÝ THƯỜNG KIỆT</span>
                <br>
                <span>Lớp 5/5</span>
              </h2>
              <h5 class="text-white">Giáo viên: Trần Minh Châu</h5>
              <br>
            </div>
            <div class="max-w-sm mx-auto lg:mx-0">
              <div>
              <a class="inline-block w-full lg:w-auto py-2 px-6 leading-loose text-white font-semibold bg-gray-800 border-2 border-white-800 hover:border-red-500 rounded-l-xl rounded-t-xl transition duration-200" href="#article">
              Bắt đầu
              </a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2 px-4 flex items-center justify-center">
          <div class="relative" style="z-index: 0;">
            <%= image_tag("minhchau.jpg", style:"border-radius:20px;width:450px") %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mr-for-radius">
    <svg class="h-8 md:h-12 lg:h-20 w-full text-purple-400" viewBox="0 0 10 10" preserveAspectRatio="none">
      <polygon fill="currentColor" points="0 0 10 0 0 10"></polygon>
    </svg>
  </div>
</section>

<section>
  <div class="py-20 bg-purple-400 radius-for-skewed" id="article">
    <div class="container mx-auto px-4">
      <div class="mb-6 flex flex-wrap justify-center">
        <div class="mb-16 w-full text-center">
          <h2 class="text-4xl lg:text-5xl font-bold font-heading">Bài viết</h2>
        </div>
        <div class="flex flex-wrap -mx-3 mb-16">
          <div class="flex flex-wrap w-full">
            <div class="mb-6 w-full lg:w-1/2 px-3">
              <div class="rounded overflow-hidden shadow">
              <%= image_tag("Hoc-online.jpg", class:"lg:h-48 rounded-t", style:"width:100%") %>
                <div class="p-6 rounded-b bg-white">
                  <span class="text-sm text-gray-400">05-09-2021</span>
                  <h2 class="my-2 text-2xl font-bold">Những điều cần biết khi học online</h2>
                  <a class="text-green-600 hover:text-green-700 font-bold" href="/pages/article1">Xem thêm</a>
                </div>
              </div>
            </div>
            <div class="mb-6 w-full lg:w-1/2 px-3">
              <div class="rounded overflow-hidden shadow">
                <%= image_tag("thumb.jpg", style:"width:100%", class:"lg:h-48 rounded-t") %>
                <div class="p-6 rounded-b bg-white">
                  <span class="text-sm text-gray-400">05-09-2021</span>
                  <h2 class="my-2 text-2xl font-bold">Những tiết học bổ ích năm học 2020 - 2021</h2>
                  <a class="text-green-600 hover:text-green-700 font-bold" href="/pages/article2">Xem thêm</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div><a class="inline-block py-2 px-6 rounded-l-xl rounded-t-xl bg-green-600 hover:bg-green-700 text-white font-bold leading-loose outline-none transition duration-200" href="#">Xem thêm bài viết</a></div>
      </div>
    </div>
  </div>
  <div class="skew skew-bottom mr-for-radius">
    <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewBox="0 0 10 10" preserveAspectRatio="none">
      <polygon fill="currentColor" points="0 0 10 0 0 10"></polygon>
    </svg>
  </div>
</section>

<section>
  <div class="py-20 bg-purple-400 radius-for-skewed">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-1/2 mb-12 lg:mb-0">
          <div class="max-w-md">
            <h2 class="mb-2 text-4xl lg:text-5xl font-bold font-heading text-white">Lớp thầy Châu có những gì?</h2>
            <div class="max-w-xs">
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2">
          <div class="mb-12 lg:mb-8 flex flex-wrap items-start">
            <span class="mb-4 lg:mb-0 lg:mr-6 inline-flex items-center justify-center w-16 h-16 bg-pink-500 rounded text-white text-2xl font-bold">1</span>
            <div class="w-full lg:w-3/4">
              <h3 class="mb-4 text-2xl font-bold font-heading text-white">Quản lý học sinh</h3>
              <p class="text-gray-50 leading-loose">Cho phép phụ huynh quản lý quá trình học tập của con em mình.</p>
            </div>
          </div>
          <div class="mb-12 lg:mb-8 flex flex-wrap items-start">
            <span class="mb-4 lg:mb-0 lg:mr-6 inline-flex items-center justify-center w-16 h-16 bg-pink-500 rounded text-white text-2xl font-bold">2</span>
            <div class="w-full lg:w-3/4">
              <h3 class="mb-4 text-2xl font-bold font-heading text-white">Tra cứu kết quả học tâp và giáo dục</h3>
              <p class="text-gray-50 leading-loose">Cho phép phụ huynh và học sinh xem kết quả học tập và đánh giá từ giáo viên.</p>
            </div>
          </div>
          <div class="flex flex-wrap items-start">
            <span class="mb-4 lg:mb-0 lg:mr-6 inline-flex items-center justify-center w-16 h-16 md:px-8 bg-pink-500 rounded text-white text-2xl font-bold">3</span>
            <div class="w-full lg:w-3/4">
              <h3 class="mb-4 text-2xl font-bold font-heading text-white">Xem thành tích thi đua học tập</h3>
              <p class="text-gray-50 leading-loose">Xem bảng xếp hàng thi đua học tập theo tháng.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
