<div class="bg-green-100" style="margin-bototm: -100px">
  <%= image_tag("nosmartphone.jpg", style:"margin:0 auto") %>
  <div class="container py-20">
    <h2 class=" text-center mb-16 font-weight-bold text-green-600">KHOÁ TRẢI NGHIỆM<br><span class="text-red-600">“CHỦ NHẬT KHÔNG ĐIỆN THOẠI”</span></h2>
    <div>
      <p class="text-xl">Facebook, youtube, game online đang ngày càng phổ biến với mọi người với mọi độ tuổi và ngành nghề và trẻ em cũng không ngoại lệ. Những điều hay ho, những lợi ích của điện thoại, mạng xã hội đem lại cho chúng ta là vô kể, là không thể phủ nhận.</p>
      <p class="text-xl">Tuy nhiên, việc lạm dụng điện thoại, mê mẩn với điện thoại đến nỗi không thể rời mắt khỏi màn hình, không kiểm soát được thời gian dành cho nó của trẻ em hiện rất phổ biến nhất là các em học sinh tiểu học. </p>
      <div class="my-12 text-center">
        <%= image_tag("smartphone.jpg", style:"margin: 0 auto") %>
        <i class="text-base">Ảnh minh họa.</i>
      </div>
      <p class="text-xl">
        Hiện nay, phụ huynh rất dễ dàng sắm cho các em những điện thoại đắt tiền và xem đó là phương tiện để giám sát và dễ dàng quản lí cũng như chi phối các em. Vì thế trẻ em hiện nay thiếu những sân chơi, những trải nghiệm và khám phá. Các em chỉ giỏi chơi những trò chơi ảo mà chưa biết được những kỹ năng cần thiết cho trẻ chính là những trải nghiệm ngoài xã hội. Các em thiếu tự tin, thiếu những cuộc vui chơi cuối tuần - sau những giờ học căng thẳng để hoà mình vào thiên nhiên, để trải nghiệm và học hỏi nhiều điều hay ho, lý thú.
      </p>
      <p class="text-xl">
        Đáp ứng những nhu cầu về chơi, về trải nghiệm, khám phá, học tập của các em, khoá trải nghiệm 4 ngày tại <span class="text-red-600 font-weight-bold">“CHỦ NHẬT KHÔNG ĐIỆN THOẠI”</span> sẽ giải quyết những vấn đề ấy. Khoá học sẽ giúp các em tự tin hơn, vui vẻ hơn và biết quản lí thời gian của mình hơn, không chú tâm quá nhiều vào điện thoại và mạng online. 
      </p>
      <p class="text-xl">
        Thông qua các trò chơi, các trạm trải nghiệm, các chướng ngại vật, các em có cơ hội phát triển bản thân, vui chơi, có nhiều bạn bè mới và hơn hết là học được những kỹ năng cần thiết cho bản thân mình.
      </p>
      <p class="text-xl">
        Các em được trải nghiệm làm nông dân, trải nghiệm làm chú bộ đội, khẳng định bản thân và hơn hết là được tham gia các hoạt động vui chơi và những phần quà cuối khoá hấp dẫn và mang nhiều ý nghĩa.
      </p>
      <p class="text-xl">
        Phụ huynh quan tâm về khoá học vui lòng liên hệ theo hotline: <a href="tel:0795589558">07.9558.9558</a> để nhận được lịch trình, kinh phí và cam kết.
      </p>
    </div>
    <div class="text-center">
      <button class="btn btn-danger my-8 mx-auto">
        <a href="https://forms.gle/k29KNoVURBCaJWHTA" target="_blank"><span class="text-white font-weight-bold">ĐĂNG KÝ NGAY</span></a>
      </button>
    </div>
    <h4 class="text-center text-purple-700 font-weight-bold">TRẠM TRẢI NGHIỆM TIỂU HỌC HUẾ<br>CHƠI - KHÁM PHÁ - TRẢI NGHIỆM - HỌC</h4>
  </div>
</div>