<div class="container">
  <p>
    <strong>Title:</strong>
    <%= @noti.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @noti.content %>
  </p>

  <%= link_to 'Back', students_notis_path %>
</div>
