<section>
    <nav class="relative px-6 py-6 flex justify-between items-center bg-white">
      <a class="text-3xl font-bold leading-none" href="/">
        <h1>LOGO<h1>
      </a>
      <div class="lg:hidden">
        <button class="navbar-burger flex items-center text-green-600 p-3">
          <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </button>
      </div>
      <%= link_to "Học Sinh", new_student_session_path, :class => 'hidden lg:inline-block py-2 px-6 bg-green-500 hover:bg-green-600 text-sm text-white font-bold rounded-l-xl rounded-t-xl transition duration-200' %>
      <%= link_to "Giáo Viên", new_teacher_session_path, :class => 'hidden lg:inline-block py-2 px-6 bg-green-500 hover:bg-green-600 text-sm text-white font-bold rounded-l-xl rounded-t-xl transition duration-200' %>
    </nav>
    <div class="hidden navbar-menu relative z-50">
      <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
      <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
        <div class="flex items-center mb-8">
          <button class="navbar-close">
            <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
        <div class="mt-auto">
          <div class="pt-6">
            <%= link_to "Học Sinh", new_student_session_path, :class => 'block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-green-600 hover:bg-green-700 rounded-l-xl rounded-t-xl' %>
            <%= link_to "Giáo Viên", new_teacher_session_path, :class => 'block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-green-600 hover:bg-green-700 rounded-l-xl rounded-t-xl' %>
            </div>
          <p class="my-4 text-xs text-center text-gray-400">
            <span>Thanh Tú © 2020 All rights reserved.</span>
          </p>
        </div>
      </nav>
    </div>
</section>
